
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle class="wedstore_mob_menu">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><a class="header_logo is-active"> <img src="./assets/imgs/logo.png"></a></ion-title>
      <ion-buttons end>
         <button ion-button class="navbar_mob_default" (click)="openMyUserPage();">
          My account
        </button>
        <button ion-button class="navbar_mob_default">
          Log In
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
