<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<wed-header></wed-header>
<ion-content>

    <div class="user_header">
        <div class="cover_image_container">
          <img class="cover_image" src="{{actualUser.coverImgUrl}}">
        </div>
        <div class="user_info">
          <div class="display_container"><img class="user_display" src="{{actualUser.displayImgUrl}}"></div>
          <div class="user_base_info">
            <span class="user_name">{{actualUser.name}}</span>
            <span class="user_type">{{actualUser.proType}}</span>
          </div>
          <div class="profile_social_bar">
            <span class="profile_social_bar_icon"> <a href="http://www.facebook.com/sharer.php?u=http://vmi118470.contaboserver.net/~wedproduction/professional/{{actualUser.name}}"> <ion-icon name="logo-facebook"></ion-icon> </a></span>
            <span class="profile_social_bar_icon"> <a href="http://pinterest.com/pin/create/link/?url=http://vmi118470.contaboserver.net/~wedproduction/professional/{{actualUser.name}}&media={{actualUser.coverImgUrl}}&description=''"><ion-icon name="logo-pinterest"></ion-icon></a></span>
            <span class="profile_social_bar_icon"> <a href="https://twitter.com/share?text=Professionals Wed Production:&hashtags=WEDPRODUCTION&via=wedproduction&url=http://vmi118470.contaboserver.net/~wedproduction/professional/{{actualUser.name}}"><ion-icon name="logo-twitter"></ion-icon></a></span>
            <span class="profile_social_bar_icon"> <a href="http://vmi118470.contaboserver.net/~wedproduction/professional/mailto:?subject=Name - Wedding&body=http://vmi118470.contaboserver.net/~wedproduction/professional/{{actualUser.name}}"><ion-icon name="mail"></ion-icon></a></span>
          </div>
        </div>
    </div>
    <div class="user_body">
    <div class="user_about">
     
      <p>{{actualUser.description}}</p>
    </div>
    </div>
      <div class="galleries">
        <div class="video_gallery"  *ngIf="this.actualUser.VideoGallery?.length > 0">
            <ion-slides  pager  loop>
                <ion-slide *ngFor="let videourl of this.actualUser.VideoGallery">
                   <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl("https://player.vimeo.com/video/"+videourl)'  class="wedproduction_mob_video_iframe" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </ion-slide>
              </ion-slides>
          </div>
        <div class="photo_gellery" *ngIf="this.actualUser.PhotoGallery?.length > 0">
            <ion-slides class="wedproduction_mob_slider"  pager loop>
                <ion-slide *ngFor="let photo of this.actualUser.PhotoGallery">
                    <img src="{{photo}}">
                  </ion-slide>
                  </ion-slides>
        </div>
        <button class="contactBtn">Contact </button>
      </div>

   <div class="event_gallery">
      <div class="event_header">
       Events
     </div>
     <div class="events_container">
  <div class="event_card">
      <ion-card>
          <div class="event_card_img_container" style="background: url(http://vmi118470.contaboserver.net/~wedproduction/sites/default/files/styles/large/public/images/mediapro/4654684_0.jpg?itok=z22wn6J1);">
         </div>
          <ion-card-content>
              <ion-item class="item item-block item-md">
                <ion-avatar item-start="">
                  <img src="http://vmi118470.contaboserver.net/~wedproduction/sites/default/files/images/profile/wp-display-1441132843.png">
                </ion-avatar>
                <div class="event_base_info">
                <span class="event_name">Juan Carlos Elías</span>
                <span class="event_date">20-10-2018</span>
                </div>
            </ion-item>
    
          </ion-card-content>
        </ion-card>
  </div>


  <div class="event_card">
      <ion-card>
          <div class="event_card_img_container" style="background: url(http://vmi118470.contaboserver.net/~wedproduction/sites/default/files/styles/large/public/images/mediapro/4654684_0.jpg?itok=z22wn6J1);">
         </div>
          <ion-card-content>
              <ion-item class="item item-block item-md">
                <ion-avatar item-start="">
                  <img src="http://vmi118470.contaboserver.net/~wedproduction/sites/default/files/images/profile/wp-display-1441132843.png">
                </ion-avatar>
                <div class="event_base_info">
                <span class="event_name">Juan Carlos Elías</span>
                <span class="event_date">20-10-2018</span>
                </div>
            </ion-item>
    
          </ion-card-content>
        </ion-card>
  </div>

  
   </div>
   </div>
</ion-content>


<ion-footer>
  <div class="section_footer">
<span class="social-media-mobile">
      <a href="http://vimeo.com/wedproduction" target="_blank" id="a-vimeo"></a>
        <a href="https://www.youtube.com/channel/UCtH8QDOvUlr_kQ3D8Obpz9A" target="_blank" id="a-youtube"></a>
        <a href="http://instagram.com/wedproduction" target="_blank" id="a-instagram"></a>
        <a href="https://pinterest.com/wedproduction/" target="_blank" id="a-pinterest"></a>
        <a href="https://www.facebook.com/WedProduction.mx" target="_blank" id="a-facebook"></a>
        <a href="http://twitter.com/@wedproduction" target="_blank" id="a-twitter"></a>
   </span>
 </div>
</ion-footer>